 html, body {
    margin: 0;
    padding: 0;
    background: black;
    width: 100%;
    overflow: hidden;
  }

.mirror {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/mirror.png);
    background-repeat: no-repeat;
    background-position: center.655%;
    background-size: 789px 1152px;
    opacity: .65;
    z-index: 1000;    
  }

  .skelly_left {
    width: 80px;
    height: 120px;
    background: url(../images/skellington/skeleton_sheet.png) -20px -400px;
    background-size: 1152px 512px;
    image-rendering: pixelated;
    animation: walk 0.8s steps(9) infinite;
    position: absolute;
    opacity: .65;
  }

  .skelly_right {
    width: 80px;
    height: 120px;
    background: url(../images/skellington/skeleton_sheet.png) -20px -160px;
    background-size: 1152px 512px;
    image-rendering: pixelated;
    animation: walk 0.8s steps(9) infinite;
    position: absolute;
    opacity: .65;
  }

  .skelly_down {
    width: 80px;
    height: 120px;
    background: url(../images/skellington/skeleton_sheet.png) -20px -280px;
    background-size: 1152px 512px;
    image-rendering: pixelated;
    animation: walk 0.8s steps(9) infinite;
    position: absolute;
    opacity: .65;
  }

  .skelly_up {
    width: 80px;
    height: 120px;
    background: url(../images/skellington/skeleton_sheet.png) -20px -20px;
    background-size: 1152px 512px;
    image-rendering: pixelated;
    animation: walk 0.8s steps(9) infinite;
    position: absolute;
    opacity: .65;
  }

  @keyframes walk {
   100% { background-position-x: -1172px; }
  }

  .red_skelly_left {
    width: 80px;
    height: 120px;
    background: url(../images/skellington/skeleton_red.png) -20px -400px;
    background-size: 1152px 512px;
    image-rendering: pixelated;
    animation: walk 0.8s steps(9) infinite;
    position: absolute;
    opacity: .65;
  }

  .red_skelly_right {
    width: 80px;
    height: 120px;
    background: url(../images/skellington/skeleton_red.png) -20px -160px;
    background-size: 1152px 512px;
    image-rendering: pixelated;
    animation: walk 0.8s steps(9) infinite;
    position: absolute;
    opacity: .65;
  }

  .red_skelly_down {
    width: 80px;
    height: 120px;
    background: url(../images/skellington/skeleton_red.png) -20px -280px;
    background-size: 1152px 512px;
    image-rendering: pixelated;
    animation: walk 0.8s steps(9) infinite;
    position: absolute;
    opacity: .65;
  }

  .red_skelly_up {
    width: 80px;
    height: 120px;
    background: url(../images/skellington/skeleton_red.png) -20px -20px;
    background-size: 1152px 512px;
    image-rendering: pixelated;
    animation: walk 0.8s steps(9) infinite;
    position: absolute;
    opacity: .65;
  }

  .blue_skelly_left {
    width: 80px;
    height: 120px;
    background: url(../images/skellington/skeleton_blue.png) -20px -400px;
    background-size: 1152px 512px;
    image-rendering: pixelated;
    animation: walk 0.8s steps(9) infinite;
    position: absolute;
    opacity: .65;
  }

  .blue_skelly_right {
    width: 80px;
    height: 120px;
    background: url(../images/skellington/skeleton_blue.png) -20px -160px;
    background-size: 1152px 512px;
    image-rendering: pixelated;
    animation: walk 0.8s steps(9) infinite;
    position: absolute;
    opacity: .65;
  }

  .blue_skelly_down {
    width: 80px;
    height: 120px;
    background: url(../images/skellington/skeleton_blue.png) -20px -280px;
    background-size: 1152px 512px;
    image-rendering: pixelated;
    animation: walk 0.8s steps(9) infinite;
    position: absolute;
    opacity: .65;
  }

  .blue_skelly_up {
    width: 80px;
    height: 120px;
    background: url(../images/skellington/skeleton_blue.png) -20px -20px;
    background-size: 1152px 512px;
    image-rendering: pixelated;
    animation: walk 0.8s steps(9) infinite;
    position: absolute;
    opacity: .65;
  }
